* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.15em;
  color: #333;
}

div#container {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
}

div#header {
    flex: 0 0 72px;
    background-color: #A8C7E1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

img#logo {
    padding: 5px 0 5px 5px;
}

p#title {
    font-family: 'Trajan Pro';
    font-size: 2rem;
    letter-spacing: 0.08em;
    height: 2rem;
    line-height: 2rem;
}

.none {
    display: none;
}

p#menu {
    font-size: 0.8rem;
}

div#footer {
    flex: 0 0 4em;
    background-color: #4E6B87;
    color: white;
    font-size: 0.6rem;
    line-height: 0.72rem;
    padding: 5px;
}

div#body {
    flex: 1 0 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

div#sidebar {
    flex: 3 0 0;
    max-width: 300px;
}

div#sidebar > ul {
    list-style-type: none;
    padding: 10px 0;
}

div#sidebar > ul > li > a {
    display: block;
    padding-left: 2em;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

div#sidebar > ul > li > a:hover, div#sidebar > ul > li > a.selected {
    border-left: 5px solid #A8C7E1;
    padding-left: calc(2em - 5px);
    background-color: #eee;
}

div#main-content {
    flex: 7 0 0;
    padding: 20px 10px 10px 40px;
}

button {
    padding: 5px;
}

h1, h2, h3, h4, h5, h6, #main-content p {
    margin-bottom: 0.3em;
    padding-bottom: 0.6em;
}
